#old requirements
#sphinx
#recommonmark
#sphinxcontrib-images
#sphinx_bootstrap_theme
#guzzle_sphinx_theme==0.7.11
#new requirements
alabaster==0.7.12
Babel==2.9.1
commonmark==0.9.1
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
fett==0.3.2
imagesize==1.2.0
livereload==2.6.3
networkx==2.5.1
pymongo==3.11.4
python-jsonrpc-server==0.3.4
pytz==2021.1
recommonmark==0.7.1
rstcheck==3.3.1
snooty-lextudio==1.9.2.dev0
Sphinx==4.0.2
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==3.7.4.3
ujson==1.35
watchdog==1.0.2
